.checkout-page {
  background-color: white;
  height: 100vh;
  display: flex;
  margin-left: 10rem;
}

.checkout-logo {
  content: url("../media/amazonlogo2.svg");
  width: 150px;
  height: 50px;
  margin: 3rem 0;
}

.checkout_box {
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2rem 2.6rem 5rem;
}

.add_box {
  width: 1224px;
  border-radius: 5px;
  padding: 2rem 2.6rem 5rem;
  margin-bottom: 4rem;
}
